{{!-- Contact promo section --}}
<div class="promo-section">
    <div class="container">
        <div class="row">
            <div class="mx-auto text-center col-md-8">
                <h2 class="section-title ans-title">{{t "DId you get you answer?"}}</h2>
                <p class="mx-auto section-text color-light maxw-800">
                    {{t "Our product is for you. You will get all the topics in our documentation. If you don't get anything in our documentation, feel free to contact with us. We are here 24/7 to help you Contact"}}
                </p>
                <div class="full-details pt-30">
                    <a class="btn btn-primary btn-xl" href="https://api.whatsapp.com/send/?phone={{#if @custom.whatsapp_number}}{{@custom.whatsapp_number}}{{/if}}">{{t "Contact Us"}}</a>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- End of Contact promo section --}}