{{!-- right-sidebar-docs --}}
<div id="table-contents" class="table-contents table-sidebar">
    <div class="table-of-contents">
        <h6 class="table-title">{{t "Table of contents"}}</h6>
        <div class="table-content"></div>
    </div>
</div>